html {
    height: 100%;
}

body {
margin:0;
padding:0;
font-family: sans-serif;
background: linear-gradient(#141e30, #243b55);
}

#h1{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 40px;
    left: 28.5%;
}
.container {
  position: absolute;
  top: 42%;
  left: 30%;
  width: 13%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #408adf;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}




.containerk {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 15%;
}

.imagek {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middlek {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerk:hover .imagek {
  opacity: 0.3;
}

.containerk:hover .middlek {
  opacity: 1;
}

.textk {
  background-color: #408adf;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}