html {
    height: 150%;
  }
  

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

#p1{
    line-height: 0.8;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

#m1{
    color: white;
    text-align: center;
}

.container {
    position: absolute;
    top: 50px;
    left: 15%;
    width: 1050px;
    height: 980px;
    align-items: center;
    text-align:left;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #1f3349;
    box-shadow: 14px 14px 20px #0d131f, -14px -14px 20px #0d131f;
}